<section class="full-screen-section" *ngIf="!isLogeado; else Historia">
  <div class="red-section">
    <div class="flowers-container">
      <div id="flower-container"></div>
    </div>
    <div class="row justify-content-center align-items-center" style="height: 100%;">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
            <h2>Aqui solo puede ingresar mi amorcito, ¿Eres mi amorcito? </h2>
          </div>
          <form [formGroup]="loginForm!">
            <div class="card-body">

              <div class="form-group">
                <label for="nombre">Nombre de amorcito</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
              </div>
              <div class="form-group">
                <label for="clave">Dia que empezamos a ser pareja</label>
                <input type="text" class="form-control" placeholder="dd-mm-yyyy" id="clave" name="clave" required>
              </div>
              <button (click)="obtenerDatos()" class="btn"
                style="margin-top: 1%; background-color: rgb(254, 128, 167);">Bienvenida a mi corazon :3</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #Historia>
  <section class="full-width-section">
    <h1 style="text-align: center;">❤ ❤ Nuestra historia de amor ❤ ❤</h1>

    <div class="half">
      <img src="../assets/Zana.jpg" width="45%" alt="Descripción de la imagen">
      <div class="text">
        <p>
          ¡Oh, cómo recuerdo ese día como si fuera ayer! Nuestro primer viaje juntos fue una aventura
          inolvidable. Tu carita iluminada de emoción entre las ruinas antiguas era como la de una niña
          en una tienda de dulces. Me encantaba ver cómo te maravillabas con cada detalle, y no solo yo
          lo notaba. Había unos señores mayores que nos observaban con una sonrisa de oreja a oreja,
          seguro que pensaban que éramos una pareja adorable. ¡Y tenían razón! Éramos un equipo increíble.
          <br>
          ¿Recuerdas cuando te compré ese recuerdo? Fue tan divertido. Estabas indecisa, no sabías qué
          escoger, pero juntos encontramos algo perfecto. Tu carita de incertidumbre era adorable y no
          pude resistirme a abrazarte en ese momento. Creo que ese día sellamos nuestro amor con risas y
          aventuras. ¡Y qué lindo fue todo! ❤️
        </p>
      </div>
    </div>
    <div class="half2">
      <img src="../assets/Zana2.jpg" width="45%" alt="Descripción de la imagen">
      <div class="text">
        <p>
          ¿Quién iba a pensar que aquel pequeño viaje, donde al principio te asustaba ser copiloto en la
          moto, se convertiría en nuestra aventura constante? Ahora, viajar juntos es uno de mis placeres
          favoritos. Me encanta sentir tus brazos rodeándome mientras exploramos nuevos lugares,
          especialmente cuando nos sumergimos en la belleza de nuestro país.
          <br>
          Ese momento marcó el inicio
          de nuestra conexión especial, el momento en el que supe que te había encontrado, mi compañero
          de vida en esta gran aventura. ❤️
        </p>
      </div>
    </div>

    <div class="half">
      <img src="../assets/EnojoRP.jpg" width="45%" alt="Descripción de la imagen">
      <div class="text">
        <p>
          ¡Oh, claro que recuerdo esa foto! Fue uno de esos momentos divertidos que siempre guardo
          en mi memoria. No puedo recordar exactamente qué tontería dije para que te enojaras, pero
          tu expresión fue impagable. Tu rostro enfadado era tan adorable, tenía que capturarlo sí o sí.
          <br>
          Y luego, cuando se te pasó el enojo y comenzaste a hacer pucheritos, ¡fue aún más tierno!
          Esos pequeños gestos tuyos siempre hacen que mi corazón se derrita. ❤️
        </p>
      </div>
    </div>
    <div class="half2">
      <img src="../assets/Pimentel.jpg" width="45%" alt="Descripción de la imagen">
      <div class="text">
        <p>
          Recuerdo tan vívidamente el día que fuimos a Pimentel. Me contaste que nunca habías estado en el muelle, así
          que recorrimos cada puesto de recuerdos en busca del llavero perfecto para ti. ¡Y al final lo encontramos!
          Pero lo mejor fue cuando llegamos al final del muelle y viste las aves. Tu rostro reflejaba asombro y pura
          felicidad. Sabía que necesitaba capturar ese momento en una foto, pero como siempre, te mostraste terca al
          principio y no querías. Afortunadamente, logré convencerte. ❤️
        </p>
      </div>
    </div>

    <div class="half">
      <img src="../assets/Admiracion.JPG" width="45%" alt="Descripción de la imagen">
      <div class="text">
        <p>

          Esa jornada fue un torbellino de emociones, ¿verdad? Aunque lamento que haya terminado con una llamada de
          atención, no pude resistirme a entrar y presenciar a la mujer de mi vida expresándose. Quedé completamente
          admirado. Sin duda, soy tu fan número uno. Me enamoras cada vez que te desenvuelves con tanto talento. ❤️
        </p>
      </div>
    </div>
    <div class="half2">
      <img src="../assets/BesoPirkas.jpg" width="45%" alt="Descripción de la imagen">
      <div class="text">
        <p>
          Nuestro primer viaje lejos fue una aventura inolvidable. Fue la primera vez que compartimos la intimidad de
          dormir juntos, una pequeña visión de nuestra futura vida juntos. Tener nuestro propio espacio fue el momento
          en el que me di cuenta de que puedo vivir a tu lado, incluso si a veces no me soportas :P ¡Bromita! Me encanta
          molestarte, sin duda alguna. Quiero construir una vida contigo. ❤️
        </p>
      </div>
    </div>

    <div class="half">
      <img src="../assets/Bachiller.JPG" width="45%" alt="Descripción de la imagen">
      <div class="text">
        <p>

          Este es el mensaje final, mi amor. Solo quiero expresarte mi profundo agradecimiento por todo el amor, la
          paciencia y la comprensión que me brindas cada día. Valorizo enormemente el sacrificio que haces para estar a
          mi lado. A lo largo de estos 11 meses, he reafirmado mi amor por ti cada día, amándote más y más con el
          tiempo. Agradezco al universo por habernos cruzado en el momento perfecto, y a tu mamá por haber creado al ser
          maravilloso del que me enamoré profundamente. Gracias a ti por existir y por representar la perfección hecha
          persona. ❤️
        </p>
      </div>
    </div>
  </section>
</ng-template>
